.container{
    margin-top: 4%;
}
table, th, td {
    border: 1px solid;
   
  }
  th {
    height: 50px;
    background-color :aquamarine
  }
  table{
    width: 100%;
  }
  td {
    text-align: center;
  }
  th, td {
    padding: 15px;
    text-align: left;
  }
  tr:hover {background-color: aquamarine;}

  form{
    text-align:center;
    width : 50%;
    background-color:bisque;
    border : 2px black;
    border-style: solid;
    margin-left:25%;
  }